@import url('https://fonts.googleapis.com/css?family=Exo');

* {
  font-family: 'Exo', sans-serif;
}

.no-selection {
  user-select: none;
}

.light-text {
  font-weight: lighter;
}

.card, .err-card {      
  padding: 1rem 1rem;   
}

.err-card {
  background: red;
  padding: 10px;
  color: white;
}

.card:hover, .card:focus {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: black;
  color: white;      
}

.card:active {
  box-shadow: 0 0px 0px 0;
  background: whitesmoke;
  color: black;      
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 60px 1fr;  
}

.grid-intro {  
  grid-column: 1 / 6; 
}

.grid-animal-list {  
  grid-column: 1 / 6;  
}

.grid-right{
  margin-left: 10px; 
  grid-row: 1 / -1;
  grid-column: 6 / -1;
  background: black;
  color: white;
}

.details {
  padding-left: 35px;
  font-weight: lighter;
  padding-right: 35px; 
}

.details::selection {
  background: gray;
}