@import url('https://fonts.googleapis.com/css?family=Exo');

* {
  font-family: 'Exo', sans-serif;
}

.no-selection {
  user-select: none;
}

.light-text {
  font-weight: lighter;
}

.card, .err-card {      
  padding: 1rem 1rem;   
}

.err-card {
  background: red;
  padding: 10px;
  color: white;
}

.card:hover, .card:focus {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: black;
  color: white;      
}

.card:active {
  box-shadow: 0 0px 0px 0;
  background: whitesmoke;
  color: black;      
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 70px 50px 1fr;  
}

.grid-two {
  grid-row-start: 2;
  grid-column: 1 / 6;
  display: grid;    
  grid-template: repeat(2, 0.5fr) / repeat(2, 1fr);  
}

.grid-intro {  
  grid-column: 1 / 6; 
}

.grid-animal-list {    
  grid-column: 1 / 6;  
}

.grid-right{
  margin-left: 10px; 
  grid-row: 1 / -1;
  grid-column: 6 / -1;
  background: black;
  color: white;
}

.details {  
  padding-left: 35px;
  font-weight: lighter;
  padding-right: 35px; 
}

.details::selection {
  background: gray;
}

.btn {  
  background: silver;  
  font-weight: bold;
}

.btn-add {  
  background: black;
  color: white;
  border: thin;    
  margin-top: 5px;
  text-align: center;  
  grid-column: 1 / -1;
}

.btn-add:hover, .btn-add:focus {  
  background: white;
  color: black;
  border: thin solid black;
}

.btn-add:active {  
  border: thin solid white;
  background: black;
  color: white;
}

.animal-add {
  margin-right: 5px;  
}

.animal-input {
  color: black;  
  text-align: justify;
  padding-left: 5px;
}

.animal-input:focus {
  outline: none !important;
  border: thin solid black;
}